.form-style{
	margin:200px auto;
	width:510px;
	height:320px;
	position:relative;
	border-width: 2px;
	border-style: solid;
	border-color:black;
	padding:40px;
}
.form-style input[type="text"],input[type="date"], input[type="search"], select, textarea{
border-radius:5px;
width:350px;
position:absolute;
left:200px;
}
.form-style #t2,input[type="search"], select{
width:200px;
}
.form-style input[type="date"]{
width:150px;
}
.form-style #b1, #b2 {
position:relative;
width:100px;
height:30px;
border-radius:5px;
}
.form-style #b1{
margin:100px 0 100px 0;
left:200;
background-color:aquamarine;
}
.form-style #b2{
left:230;
background-color:cornflowerblue;
}