body{
margin:100px;
}
.div1{
height:380px;
}
.div2,.div3,.div3,.div4,.div5,.div6,.div7{
  float: left;
  width: 330px;
  height: 370px;
  border-width: 2px;
  border-style:solid;
  border-color:lightgrey;
  padding:10px;
  border-left:0px;
  border-bottom:0px;
}
.div4,.div7{
border-right:0px;
}
.p1{
position:relative;
left:20px;
}


